.App {
  text-align: center;
}

.App_form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 95%;
  margin: 20px;
}

.App_formcontrol{
  display: flex !important;
  flex-direction: row !important;
}

.App_input{
  flex: 1;
}

.App_btn{
  flex:0;
}